<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    <title>Simple API</title>
</head>
<body>
    <header>
        <div id="menu-container">
            <div class="logo">
                <img src="./source/centuro_logo_white.png" alt="logo">
            </div>

            <nav>
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/daftarbuku">DAFTAR BUKU</a></li>
                    <li><a href="/kategori">KATEGORI</a></li>
                    <li><a href="/hubungikami">HUBUNGI KAMI</a></li>
                </ul>
            </nav>
        
            <form action="/search_results">
                <div class="search-bar">
                    <span class="Search-submit material-symbols-outlined">search</span>
                    <input class="Search-input" type="text" name="query" placeholder="Search ...">
                        </span></svg></button></span>
                </div>
            </form>
        </div>
    </header>
</body>
</html>